body {
    background: #3498db;
}

.box {
    background: white;
    width: 60%;
    height: 60%;
    border-radius: 6px;
    margin: 5% auto auto auto;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 5px 5px 10px #888888;
}